*{
	padding: 0;
	margin: 0;
}
body{ background: linear-gradient(to top,#50afcc 20%,#6b6dff 50%,#ab15f1 70%,#df15f1 90%,hwb(286 6% 0%)100% );
	width: 900px;
	height: 900px;
	margin-left: 600px;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height:650px ;
	background: #dedede;
	background-color: white;
	border-radius: 20px;
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;

}
button{
	border-radius: 10px;
}
.font{
	border: none;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: linear-gradient(to top,#c683e6 70%,#e047ee 90%);
	border-radius: 3px;
	border: 1px solid #3949AB;
	border-radius: 20px;
	transition: .5s;
}
.login_form button:hover{
	background: #1de9df;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
p{
	border-radius: 10px;
}
.img{
	margin-top: 80px;
	margin-left: 120px;
	
	
	
}

a{
	text-decoration: none;
	margin-left: 220px;
}